.verticalTableHolder {
    overflow-y: auto;
    overflow-x: visible;
    position: relative;
    max-height: calc(100% - 20px - 48px - 5px);
}

.tableHolder {
    position: relative;
}

.horizontalTableHolder {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    max-width: 100%;
}

.fixedHead {
    display: block;
    position: absolute;
    top: 0px;
    background-color:#FFFFFF;
    z-index: 1;
}
th {
    font-weight:normal;
    text-align: center;
}

td, th {
    padding-left:0px;
    padding-right:0px;
}

td {
    /* white-space:nowrap; */
    -webkit-transition: background-color .25s ease;
    -moz-transition: background-color .25s ease;
    -o-transition: background-color .25s ease;
    -ms-transition: background-color .25s ease;
    transition: background-color .25s ease;
}

td:hover, .gradeSelected {
    background-color:#fffde7;

}

td:hover:not(:first-child) {
    cursor: text;
}

td:first-child:hover {
    background-color:inherit;
    cursor: default;
}

tr:first-child:hover {
    cursor: pointer;
}

input {
    text-align: center;
}

.gradeCell {
    font-size: .75em;
    text-align: center;
    cursor: default;
}

.gradeSelected {
    padding-top:2px;
}
/*
th {
    border-color: black;
    border-style: none;
    border-bottom-style: solid;
    border-width: 2 px;
    background-color: #C2E0FF;
}

.tabletalk: hoverable td  div {
    background-color: yellow;
}

.tabletalk  th div {
    transform: rotate(315deg);
    padding-top: 7px;
    padding-bottom: 7px;
    border-color: black;
    border-bottom-style: solid;
    border-width: 1px;
}

*/
