.tabletalk {
    border-collapse: collapse;
    display: block-inline;
}

td {
    white-space:nowrap;
}
/*
th {
    border-color: black;
    border-style: none;
    border-bottom-style: solid;
    border-width: 2 px;
    background-color: #C2E0FF;
}

.tabletalk: hoverable td  div {
    background-color: yellow;
}

.tabletalk  th div {
    transform: rotate(315deg);
    padding-top: 7px;
    padding-bottom: 7px;
    border-color: black;
    border-bottom-style: solid;
    border-width: 1px;
}

*/