<html>
<head>
<template id="highlightTextCreation">
    <style>
    #closeButton {
        position: absolute;
        right: 0px;
        top: 0px;
    }
    #highlightTextDialog {
        width: 160px;
    }

    :host {
        position: absolute;
        top: 0px;
        cursor: move;
    }
    </style>
    <dialog id="highlightTextDialog" class="draggable" open>
        <input id="backgroundColor" type="color" value="#0000ff">Background</input>
        <div><input id="textColor" type="color" value="#000000">Text</input></div>
        <input type="checkbox" id="highlightMode">Enable Highlighting</input>
        <button id="closeButton">X</button>
    </dialog>
</template>

<template id="highlightTextViewing">
    <!-- This will need to display the highlighted text based off of update commands + protobuf objects -->
</template>
</head>
</html>