*.class
.DS_Store
# Package Files #
*.war
*.ear
*.pyc
bin/
Non_Commit/
*.pyc

.~lock*

*.yaml
*.db
.metadata/*
*.classpath
.dgrproj
.dgd/*.tmp

target/
.project
.settings
.settings/
*.project
.checkstyle