<html>
<head>
    <meta charset="utf-8">
    <title>Advance Edit test</title>
    <!-- test Library -->
    <link rel="import" href="/test/testUtilities/testUtilities.html">

    <!-- files needed for testing -->
    <link id="schoolItemTemplateImport" rel="import"
          href="/src/utilities/templates/schoolItem/schoolItemInclude.html">
    <link rel="import" href="/src/utilities/connection/protobufInclude.html">

    <!-- file being tested. -->
    <script src="/src/utilities/templates/schoolItem/advanceEdit.js"
            data-cover></script>
</head>
<body>
<school-item style="width:500px;" data-state="inProgress" data-instructor>
    <span class="name">Course Name Here</span>
    <div class="description">Course Description Here</div>
</school-item>
<div id="qunit"></div>
<div id="qunit-fixture"></div>
<div id="testLocation"></div>

<script>
    QUnit.module("testModule1", {
        teardown: function() {
            document.getElementById("testLocation").innerHTML = "";
        }
    });
    test("advance edit clears itself", function(assert) {
        var schoolItem = document.createElement("school-item");
        schoolItem.dataset.instructor="";
        var testLocation = document.getElementById("testLocation");
        testLocation.appendChild(schoolItem);
        var advanceButton = schoolItem.shadowRoot.querySelector(".advanceButton");
        simulate(advanceButton, "click");

        assert.notEqual(document.querySelector('dialog.advanceEditHost'), null, "the dialog exist in the body");

        // clear out the school item and the dialog should follow.
        testLocation.innerHTML = "";

        assert.equal(document.querySelector('dialog.advanceEditHost'), null, "the dialog exist in the body");
    });

    test("advance edit id loads", function(assert) {
        var schoolItem = document.createElement("school-item");
        schoolItem.dataset.instructor="";
        // set up data
        var schoolItemProto = CourseSketch.PROTOBUF_UTIL.SrlCourse();
        schoolItemProto.id = "fakeId";
        schoolItem.schoolItemData = schoolItemProto;

        // append data
        var testLocation = document.getElementById("testLocation");
        testLocation.appendChild(schoolItem);
        var advanceButton = schoolItem.shadowRoot.querySelector(".advanceButton");
        simulate(advanceButton, "click");

        //now test!
        var shadow = document.querySelector('dialog.advanceEditHost').shadowRoot;
        var result = shadow.querySelector('#elementId').textContent;
        assert.equal(result, schoolItemProto.id, 'the id should be loaded correctly');
    });

    test("advance edit name loads", function(assert) {
        var schoolItem = document.createElement("school-item");
        schoolItem.dataset.instructor="";
        // set up data
        var schoolItemProto = CourseSketch.PROTOBUF_UTIL.SrlCourse();
        schoolItemProto.name = "fakeId";
        schoolItem.schoolItemData = schoolItemProto;

        // append data
        var testLocation = document.getElementById("testLocation");
        testLocation.appendChild(schoolItem);
        var advanceButton = schoolItem.shadowRoot.querySelector(".advanceButton");
        simulate(advanceButton, "click");

        //now test!
        var shadow = document.querySelector('dialog.advanceEditHost').shadowRoot;
        var result = shadow.querySelector('#elementName').value;
        assert.equal(result, schoolItemProto.name, 'the name should be loaded correctly');
    });

    test("advance edit description loads", function(assert) {
        var schoolItem = document.createElement("school-item");
        schoolItem.dataset.instructor="";
        // set up data
        var schoolItemProto = CourseSketch.PROTOBUF_UTIL.SrlCourse();
        schoolItemProto.description = "fakeDescription";
        schoolItem.schoolItemData = schoolItemProto;

        // append data
        var testLocation = document.getElementById("testLocation");
        testLocation.appendChild(schoolItem);
        var advanceButton = schoolItem.shadowRoot.querySelector(".advanceButton");
        simulate(advanceButton, "click");

        //now test!
        var shadow = document.querySelector('dialog.advanceEditHost').shadowRoot;
        var result = shadow.querySelector('#elementDescription').value;
        assert.equal(result, schoolItemProto.description, 'the description should be loaded correctly');
    });
    test("advance edit function type loads", function(assert) {
        var schoolItem = document.createElement("school-item");
        schoolItem.dataset.instructor="";
        // set up data
        var schoolItemProto = CourseSketch.PROTOBUF_UTIL.SrlAssignment();
        var latePolicy = CourseSketch.PROTOBUF_UTIL.LatePolicy();
        latePolicy.functionType = CourseSketch.PROTOBUF_UTIL.getLatePolicyClass().FunctionType.EXPONENTIAL;
        schoolItem.schoolItemData = schoolItemProto;
        schoolItemProto.latePolicy = latePolicy;

        // append data
        var testLocation = document.getElementById("testLocation");
        testLocation.appendChild(schoolItem);
        var advanceButton = schoolItem.shadowRoot.querySelector(".advanceButton");
        simulate(advanceButton, "click");

        //now test!
        var shadow = document.querySelector('dialog.advanceEditHost').shadowRoot;
        var result = shadow.querySelector('#elementFunction').value;
        assert.equal(result, "EXPONENTIAL", 'the function type should be loaded correctly');
        assert.equal(CourseSketch.PROTOBUF_UTIL.getLatePolicyClass().FunctionType[result], latePolicy.functionType,
            'we can get the number from the value using protobuf');
    });

    test("advance edit time rate type loads", function(assert) {
        var schoolItem = document.createElement("school-item");
        schoolItem.dataset.instructor="";
        // set up data
        var schoolItemProto = CourseSketch.PROTOBUF_UTIL.SrlAssignment();
        var latePolicy = CourseSketch.PROTOBUF_UTIL.LatePolicy();
        latePolicy.timeFrameType = CourseSketch.PROTOBUF_UTIL.getLatePolicyClass().TimeFrame.HOUR;
        schoolItem.schoolItemData = schoolItemProto;
        schoolItemProto.latePolicy = latePolicy;

        // append data
        var testLocation = document.getElementById("testLocation");
        testLocation.appendChild(schoolItem);
        var advanceButton = schoolItem.shadowRoot.querySelector(".advanceButton");
        simulate(advanceButton, "click");

        //now test!
        var shadow = document.querySelector('dialog.advanceEditHost').shadowRoot;
        var result = shadow.querySelector('#elementTimeFrame').value;
        assert.equal(result, "HOUR", 'the function type should be loaded correctly');
        assert.equal(CourseSketch.PROTOBUF_UTIL.getLatePolicyClass().TimeFrame[result], latePolicy.timeFrameType,
            'we can get the number from the value using protobuf');
    });

    test("advance edit subtraction type loads", function(assert) {
        var schoolItem = document.createElement("school-item");
        schoolItem.dataset.instructor="";
        // set up data
        var schoolItemProto = CourseSketch.PROTOBUF_UTIL.SrlAssignment();
        var latePolicy = CourseSketch.PROTOBUF_UTIL.LatePolicy();
        latePolicy.subtractionType = CourseSketch.PROTOBUF_UTIL.getLatePolicyClass().SubtractionType.PERCENT;
        schoolItem.schoolItemData = schoolItemProto;
        schoolItemProto.latePolicy = latePolicy;

        // append data
        var testLocation = document.getElementById("testLocation");
        testLocation.appendChild(schoolItem);
        var advanceButton = schoolItem.shadowRoot.querySelector(".advanceButton");
        simulate(advanceButton, "click");

        //now test!
        var shadow = document.querySelector('dialog.advanceEditHost').shadowRoot;
        var result = shadow.querySelector('#elementSubtraction').value;
        assert.equal(result, "PERCENT", 'the function type should be loaded correctly');
        assert.equal(CourseSketch.PROTOBUF_UTIL.getLatePolicyClass().SubtractionType[result], latePolicy.subtractionType,
            'we can get the number from the value using protobuf');
    });
</script>
</body>
