<html>
<head>
<meta charset="utf-8">
<title>School Item test</title>
<!-- test Library -->
<link rel="import" href="/test/testUtilities/testUtilities.html">

<!-- files needed for testing -->
<link id="schoolItemTemplateImport" rel="import"
	href="/src/utilities/templates/schoolItem/schoolItemInclude.html">

<!-- file being tested. -->
<!-- files needed for testing -->
<script src="/src/utilities/templates/schoolItem/schoolItem.js"
	data-cover></script>
</head>
<body>
	<div>
		<school-item style="width:500px" class=".validDate"> <span class="name">Course
			Name</span>
		<div class="description">Course Description</div>
		<div class="accessDate">11-22-1234</div>
		<div class="dueDate">22-11-9876</div>
		<div class="closeDate">99-99-9999</div>
		</school-item>

		<school-item style="width:500px"> <span class="name">Course
			Name</span>
		<div class="description">The course provides the mathematical
			foundations from discrete mathematics for analyzing computer
			algorithms, for both correctness and performance; introduction to
			models of computation, including finite state machines and Turing
			machines. At the end of the course, students will understand the
			basic principles of logic, proofs and sets. They will be able to
			apply results from discrete mathematics to analysis of algorithms.
			They will be able to produce proofs by induction and apply counting
			techniques. They will have a basic understanding of models of
			computation</div>
		</school-item>
		<h1>NOW CONTAINED ELEMENTS</h1>
		<div style="width: 100; outline: black solid thin;">
			<school-item> <span class="name">Course Name</span>
			<div class="description">Course Description</div>
			</school-item>

			<school-item> <span class="name">Course Name</span>
			<div class="description">The course provides the mathematical
				foundations from discrete mathematics for analyzing computer
				algorithms, for both correctness and performance; introduction to
				models of computation, including finite state machines and Turing
				machines. At the end of the course, students will understand the
				basic principles of logic, proofs and sets. They will be able to
				apply results from discrete mathematics to analysis of algorithms.
				They will be able to produce proofs by induction and apply counting
				techniques. They will have a basic understanding of models of
				computation</div>
			</school-item>
		</div>

		<school-item style="width:500px" data-instructor> <span
			class="name">Course Name</span>
		<div class="description">Course Description</div>
		</school-item>

		<br>
		<school-item style="width:500px" data-instructor>
		<div class="description">Course Description</div>
		</school-item>
		<school-item style="width:500px" data-state="graded">
		<span class="grade">100%</span>
		<span class="name">Course Name</span>
		<div class="description">Course Description</div>
		</school-item>
	</div>
	<div id="qunit"></div>
	<div id="qunit-fixture"></div>

	<script>
        var template = (function() {
            var link1 = document.querySelector('#schoolItemTemplateImport');
            var link = link1.import.querySelector('#schoolItemTemplateImport');
            var template = link.import.querySelector('#schoolItemTemplate');
            var clone = document.importNode(template.content, true);
            return clone;
        })();
        QUnit.module("creation", {
            setupOnce : function() {
                try {
                    var newElement = new SchoolItem();
                    document.registerElement('school-item2', {
                        prototype : newElement
                    });
                } catch (exception) {
                }

            },
        });
        test("creation", function(assert) {
            expect(0);
            var s = new SchoolItem();
        });

        test("initialization", function(assert) {
            expect(0);
            var s = document.createElement('school-item2');
            s.initializeElement(template.cloneNode(true));
        });

        test("overflow is false when given tiny text", function(assert) {
            var s = document.createElement('school-item2');
            var desc = document.createElement('div');
            desc.className = "description";
            desc.textContent = "Course Description";
            s.appendChild(desc);
            s.initializeElement(template.cloneNode(true));
            assert.equal(s.isDescriptionOverflow(), false, "description should not be over flowing");
        });

        test("overflow is true when given a lot of text (and clicking works)", function(assert) {
            var s = document.createElement('school-item2');
            s.style.width = "500px";
            var desc = document.createElement('div');
            desc.className = "description";
            desc.textContent = 'The course provides the mathematical' + 'foundations from discrete mathematics for analyzing computer'
                    + 'algorithms, for both correctness and performance; introduction to'
                    + 'models of computation, including finite state machines and Turing'
                    + 'machines. At the end of the course, students will understand the basic'
                    + 'principles of logic, proofs and sets. They will be able to apply'
                    + 'results from discrete mathematics to analysis of algorithms. They will'
                    + 'be able to produce proofs by induction and apply counting techniques.'
                    + 'They will have a basic understanding of models of computation';
            s.appendChild(desc);
            s.initializeElement(template.cloneNode(true));
            assert.equal(s.isDescriptionOverflow(), true, "description should not be over flowing");

            // click tests
            var button = s.shadowRoot.querySelector('.description p + p');
            console.log(button);
            console.log($(button));
            assert.equal($(button).hasClass('expand'), true, "starts off ready to expand");
            simulate(button, 'click');
            assert.equal($(button).hasClass('contract'), true, "ready to contract after being expanded");
            simulate(button, 'click');
            assert.equal($(button).hasClass('expand'), true, "second click causes it to contract");

        });

        test("edit buttons can be assigned functions (with value not changed)", function(assert) {
            expect(9);
            var s = document.createElement('school-item2');
            s.dataset.instructor = "";
            var desc = document.createElement('div');
            desc.className = "name";
            var oldValue = "Course Description";
            desc.textContent = oldValue;
            s.appendChild(desc);
            s.setEditCallback(function(type, oldV, newV) {
                assert.equal(type, "name", "edit function called with correct type");
                assert.equal(oldV.get(type), oldValue, "edit function called with correct old value");
                assert.equal(newV.get(type), oldValue, "edit function called with correct old value");
                assert.ok(true, "edit function called");
            });
            s.initializeElement(template.cloneNode(true));

            var button = s.shadowRoot.querySelector('.title .editButton'); // grab title edit button.
            console.log(button);
            var buttonParent = button.parentNode;

            assert.equal($(buttonParent).hasClass('currentlyEditing'), false, "starts off not being able to edit");
            simulate(button, 'click');
            assert.equal($(buttonParent).hasClass('currentlyEditing'), true, "starts off not being able to edit");
            assert.notEqual(buttonParent.querySelector('input'), null, "an edit box should now exist");
            simulate(button, 'click');
            assert.equal($(buttonParent).hasClass('currentlyEditing'), false, "after editing is done it should not be editable");
            assert.equal(buttonParent.querySelector('input'), null, "an edit box should not exist anymore");
        });

        test("edit buttons can be assigned functions with value changing", function(assert) {
            expect(4);
            var s = document.createElement('school-item2');
            s.dataset.instructor = "";
            var desc = document.createElement('div');
            desc.className = "name";
            var oldValue = "Course Description";
            var newValue = "newValue";
            desc.textContent = oldValue;
            s.appendChild(desc);
            s.setEditCallback(function(type, oldV, newV) {
                assert.equal(type, "name", "edit function called with correct type");
                console.log(oldV);
                assert.equal(oldV.get(type), oldValue, "edit function called with correct old value");
                assert.equal(newV.get(type), newValue, "edit function called with correct new value");
                assert.ok(true, "edit function called");
            });
            s.initializeElement(template.cloneNode(true));

            var button = s.shadowRoot.querySelector('.title .editButton'); // grab title edit button.
            console.log(button);
            var buttonParent = button.parentNode;
            buttonParent.querySelector(".name");

            simulate(button, 'click');
            buttonParent.querySelector("input").value = newValue;
            simulate(button, 'click');
        });

        test("edit buttons creates an element if it does not exist", function(assert) {
            var s = document.createElement('school-item2');
            s.dataset.instructor = "";
            s.initializeElement(template.cloneNode(true));

            var button = s.shadowRoot.querySelector('.title .editButton'); // grab title edit button.
            console.log(button);
            var buttonParent = button.parentNode;

            assert.equal(s.querySelector(".name"), null, "the content does not exist prior to being edited");
            simulate(button, 'click');
            assert.notEqual(s.querySelector(".name"), null, "the element should now exist");
        });
    </script>
</body>
