:host {
    position:relative;
    padding: 1px 1px 1px 1px;
    margin: -1px -1px -1px -1px;
    display: flex;
    flex-direction: column;
}

div {
    height:100%;
    width:100%;
}

#drawingCanvas {
    width: 100%; height: 100%;
}

