.column1, .column2 {
    display:inline-block;
    width: 49%;
    margin: auto;
    overflow-y: auto;
    height:calc(100% - 2em);
}

body > div {
    height: 100%;
    width: 100%;
}

ul.collection {
    margin-top: 0;
    margin-bottom:0;
}
