<html>
<head>
<template id="ttsCreation">
    <!-- Don't try to move any of this to an external style sheet or all hell will break loose
    But really the positioning when loading will be incorrect probably due to some precedence of CSS and JS and HTML -->
    <style>
    #closeButton {
        padding: 2px;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    #continueButton {
        float: right;
    }
    #creatorText {
        overflow: auto;
    }
    :host {
        position: absolute;
        top: 0px;
        cursor: move;
    }
    </style>
    <dialog id="textBoxDialog" class="draggable" open>
        <textarea rows="10" cols="30" id="creatorText" placeholder="Insert your text here..."></textarea>
        <button id="speakText">Speak text</button>
        <button id="closeButton">X</button>
    </dialog>
</template>

<template id="ttsViewing">
    <div id="textBoxDialog" style="display: none;">
        <pre id="viewText"></pre>
        <button id="speakText">Speak text</button>
        <button id="closeButton">X</button>
    </div>
</template>
</head>
</html>
