<template id="instructorMenu">
<style>
@import '/src/utilities/templates/menu/menu.css';
</style>
<div id="menu">
	<h1>
		<a href="/src/instructor/homepage/homePage.html" target="wrapper"><img
			src="images/smallTitle.svg"></a>
	</h1>
	<ul id="menuList">
		<li><a href="/src/instructor/homepage/homePage.html" target="wrapper"
			class="contentLink"
			onclick="CourseSketch.redirectContent('/src/instructor/homepage/homePage.html','Welcome Instructor')">Home</a></li>
		<li class="header"><h3>Classes I'm Teaching</h3></li>
		<li><a href="html/instructor/homepage/gradebook.html" target="wrapper"
			class="contentLink"
			onclick="CourseSketch.redirectContent('/html/instructor/homepage/gradebook.html','Grading')">Grades</a></li>
		<li><a href="/src/common/lecture/lectureSelection.html" target="wrapper"
			   class="contentLink"
			   onclick="CourseSketch.redirectContent('/src/common/lecture/lectureSelection.html','Lectures')">Lectures</a></li>
		<li><a href="/src/instructor/homepage/homePage.html" target="wrapper"
			class="contentLink"
			onclick="CourseSketch.redirectContent('/src/instructor/homepage/homePage.html','Welcome Instructor')">Course
				Management</a></li>
		<li><a href="/src/common/logicGame/gameSelection.html" target="wrapper"
			   class="contentLink"
			   onclick="CourseSketch.redirectContent('/src/common/logicGame/gameSelection.html','Welcome Instructor')">Logic
		Game</a></li>
		<li><a href="viewClassKeys.php" target="wrapper"
			data-ajax="false" class="contentLink">View Class Keys</a></li>
		<li><a href="html/instructor/homepage/roster.html" target="wrapper"
			class="contentLink"
			onclick="CourseSketch.redirectContent('/html/instructor/homepage/roster.html','Welcome Instructor')">Roster</a></li>
		<li class="header"><h3>Account</h3></li>
		<li><a href="changePassword.php" target="wrapper"
			class="contentLink">Account options</a></li>
		<!-- returns to login screen, but does not prevent user from re-accessing pages through the back button.  -->
		<li><a href="index.html" class="contentLink">Sign Out</a></li>
	</ul>
</div>
</template>

<template id="studentMenu">
<style>
@import '/src/utilities/templates/menu/menu.css';
</style>
<div id="menu">
	<h1>
		<a href="/src/instructor/homepage/homePage.html" target="wrapper" onclick="CourseSketch.redirectContent('/src/instructor/homepage/homePage.html','Welcome Student')"><img
			src="images/smallTitle.svg"></a>
	</h1>
	<ul id="menuList">
		<li><a href="/src/student/homepage/homePage.html" target="wrapper"
			class="contentLink" onclick="CourseSketch.redirectContent('/src/student/homepage/homePage.html','Welcome Student')">Home</a></li>
		<li class="header"><h3>Classes I\'m In</h3></li>
		<li><a href="/src/student/homepage/homePage.html" target="wrapper" onclick="CourseSketch.redirectContent('/src/instructor/homepage/homePage.html','Welcome Student')">My
				Courses</a></li>
		<li><a href="/src/student/search/classSearch.html" target="wrapper"
			class="contentLink" onclick="CourseSketch.redirectContent('/src/student/search/classSearch.html','Search for Classes')">Add New Class</a></li>
		<li><a href="html/student/homepage/classOptions.html" target="wrapper"
			class="contentLink" onclick="CourseSketch.redirectContent('html/student/homepage/classOptions.html','Class options')">Remove Class</a></li>
		<li><a href="html/student/homepage/grades.html" target="wrapper"
			class="contentLink" onclick="CourseSketch.redirectContent('html/student/homepage/grades.html','My Grades')">My Grades</a></li>
		<li><a href="/src/common/lecture/lectureSelection.html" target="wrapper"
			   class="contentLink"
			   onclick="CourseSketch.redirectContent('/src/common/lecture/lectureSelection.html','Lectures')">Lectures</a></li>
		<li><a href="/src/common/logicGame/gameSelection.html" target="wrapper"
			   class="contentLink"
			   onclick="CourseSketch.redirectContent('/src/common/logicGame/gameSelection.html','CourseSketch Logic Game')">Logic
			Game</a></li>
		<li><a href="html/student/homepage/roster.html" target="wrapper"
			class="contentLink" onclick="CourseSketch.redirectContent('html/student/homepage/roster.html','Class Rosters')">Rosters</a></li>
		<li class="header"><h3>Account</h3></li>
		<li><a href="changePassword.php" target="wrapper"
			class="contentLink">Account options</a></li>
		<!-- returns to login screen, but does not prevent user from re-accessing pages through the back button.  -->
		<li><a href="index.html" class="contentLink">Sign Out</a></li>
	</ul>
</div>
</template>
