h1, h2, h3, input {
	font-family: Helvetica,Arial,sans-serif;
	color: #333;
	text-shadow: 0 1px 0 #FFF;
}

.title {
	text-align:center;
}

body {
	top: 0;
	left: 0;
	width: 100%;
	outline: 0;
	background:#FFFFFF;
}

.rounded_shadow {
	
	/*
	add shadow
	*/
	-moz-box-shadow: 0 0 12px #a9D0f5;
	-webkit-box-shadow: 0 0 12px #A9D0F5;
	box-shadow: 0 0 12px #A9D0F5;
	
	/*
	round it out
	*/
	-webkit-border-radius: .6em;
	border-radius: .6em;
}

input {
	background-image: none;
	padding: .4em 1.5%;
	line-height: 1.4;
	font-size: 16px;
	display: block;
	width: 97%;
	
	
	/*
	clip the background
	*/
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

input.notEditing {
	/*
	background
	*/
	border: 1px solid #B3B3B3;
	background: #F0F0F0;
}