.school_item {
	text-align:left;
	box-shadow: 0px 1px 1px #808080;
	display:inline-block;
	padding: 10px 10px 10px 10px;
	margin-bottom: 5px;
	background: #eee;
}

.school_item .text {
	float:right;
}

.school_item img {
	margin-right: 5px;
}

.school_list li {
	list-style-type: none;
}
.school_div {
	padding: 0px 5px;
}

.school_div ul {
	margin: 0px;
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}


.school_item h3.large {
	width: 45ex;
}

.school_item h3.medium {
	width: 30ex;
}

.school_item h3.small {
	width: 15ex;
}

.school_item p.large {
	width: 45ex;
}

.school_item p.medium {
	width: 30ex;
}

.school_item p.small {
	width: 15ex;
}

.school_item p {
	width: 45ex;
}

.hover_box {
	cursor:pointer;
}

.hover_box:hover {
	background: #D4D4D4;
}

.selected_box {
	background: #C4C4C4;
}