.school_item {
	box-shadow: 0px 1px 1px #808080;
	display:inline-block;
	padding: 10px 10px 10px 10px;
	margin-bottom: 5px;
}

.school_item .text {
	float:right;
}

.school_item img {
	margin-right: 5px;
}

.school_item p {
	width: 45ex;
}