.school_item {
	position:relative;
	text-align:left;
	box-shadow: 0px 1px 1px #808080;
	display:inline-block;
	padding: 10px 10px 10px 10px;
	margin-bottom: 5px;
	background: #eee;
	z-index:1; /* in case we need to place other items behind it with a z-index*/
}

.school_item .text {
	float:right;
}

.school_item img {
	margin-right: 5px;
}

.school_list li {
	list-style-type: none;
}
.school_div {
	padding: 0px 5px;
	z-index:1;
}

.school_div ul {
	margin: 0px;
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}

.school_item h3.large,  {
	width: 375px;
}

.school_item h3.medium {
	width: 250px;
}

.school_item h3.small {
	width: 125px;
}

.school_item p.large {
	width: 375px;
}

.school_item p.medium {
	width: 250px;
}

.school_item p.small {
	width: 125px;
}

.school_item p {
	width: 375px;
}

.hover_box {
	cursor:pointer;
}

.hover_box:hover {
	background: #D4D4D4;
}

.selected_box {
	background: #C4C4C4;
}

/**
	Edit Button Hiding
*/
.school_item h3 span {
		display:none;
}
.school_item h3:hover span {
	display:inline;
}

.school_item p span {
		display:none;
}
.school_item p:hover span {
	display:inline;
}

.school_item a span {
		display:none;
}
.school_item a:hover span {
	display:inline;
}

.editButton {
	cursor: pointer;
    height:100%;
    background-image:url(../../images/schoolItem/pencil_tilted.svg);
	background-repeat:no-repeat;
	background-position:right top;
}

/**
	States
*/
.construction_tape {
    width:35%;
    height:50%;
    position:absolute;
    background-image:url(../../images/schoolItem/constructionTapeCorner2.svg);
	background-repeat:no-repeat;
	background-position:right top;
	top:0px;
    right:0px;
    z-index:-1;
}

.closed_sign {
    width:35%;
    height:50%;
    position:absolute;
    background-image:url(../../images/schoolItem/closed_sign.svg);
	background-repeat:no-repeat;
	background-position:right top;
	top:0px;
    right:0px;
    z-index:-1;
}