<html>
<head>
<meta charset="utf-8">
<title>Fake page</title>
<!-- test Library -->
<link rel="import" href="/test/testUtilities/fakePage/fakePageInclude.html">
    <link rel="import"
          href="/test/testUtilities/fakePage/fakeTestData/fakeTestDataInclude.html">
    <script src="/test/testUtilities/databaseHelper.js"></script>

<!-- files needed for testing -->
    <link id="multiChoiceTemplateImport" rel="import" href="/src/utilities/templates/multiChoice/multiChoiceInclude.html">
</head>
<body>
    <multi-choice></multi-choice>
</body>
