<html>
<head>
<template id="textBoxCreation">
    <style>
    #closeButton {
        position: absolute;
        right: 0px;
        top: 0px;
    }
    :host {
        position: absolute;
        top: 50px;
        cursor: move;
    }
    </style>
    <dialog id="textBoxDialog" class="draggable" open>
        <textarea id="creatorText" cols="25" rows="7" placeholder="Insert your text here..."></textarea>
        <button id="closeButton">X</button>
    </dialog>
</template>

<template id="textBoxViewing">
    <!-- This needs to use protobuf objects and the update manager to display the text box in the position saved by the instructor -->
</template>
</head>
</html>