.centre
{
	width: 90%;
	margin:0px auto;
}

.semi_wide_centre
{
	width: 95%;
	margin:0px auto;
}

.wide_centre
{
	width: 98%;
	margin:0px auto;
}

/**
Specifically for a 2 group column
*/
@media screen and (min-width: 44em) {
  .col-group2 {
  }
  .col-group2 > div {
    float: left;
    width: 50%;
  }
}

/**
Specifically for a tiny 2 group column
*/
.tiny-col-group2 {
}
.tiny-col-group2 > div {
  float: left;
  width: 49%;
}

/**
Specifically for a 3 group column
*/
@media screen and (min-width: 44em) {
  .col-group3 {
  }
  .col-group3 > div {
    float: left;
    width: 33%;
  }
}

/**
Specifically for a 4 group column
*/
@media screen and (min-width: 44em) {
  .col-group4 {
  }
  .col-group4 > div {
    float: left;
    width: 25%;
  }
}

.child_center {
	text-align:center;
}

.faded_column {
	background: #DDDDDD;
}

.gradient_faded_column {
	background-image: linear-gradient(top, #DDDDDD 0%, #CCCCCC 100%);
	background-image: -o-linear-gradient(top, #DDDDDD 0%, #CCCCCC 100%);
	background-image: -moz-linear-gradient(top, #DDDDDD 0%, #CCCCCC 100%);
	background-image: -webkit-linear-gradient(top, #DDDDDD 0%, #CCCCCC 100%);
	background-image: -ms-linear-gradient(top, #DDDDDD 0%, #CCCCCC 100%);
	
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #DDDDDD),
		color-stop(1, #CCCCCC)
	);
}

.gradient_faded_column_instructor_reverse {
	background-image: linear-gradient(top, #EEEEEE 0%, #A9D0F5 100%);
	background-image: -o-linear-gradient(top, #EEEEEE 0%, #A9D0F5 100%);
	background-image: -moz-linear-gradient(top, #EEEEEE 0%, #A9D0F5 100%);
	background-image: -webkit-linear-gradient(top, #EEEEEE 0%, #A9D0F5 100%);
	background-image: -ms-linear-gradient(top, #EEEEEE 0%, #A9D0F5 100%);
	
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #EEEEEE),
		color-stop(1, #A9D0F5)
	);
}

.gradient_faded_column_instructor {
	background-image: linear-gradient(top, #DDDDDD 0%, #A9D0F5 100%);
	background-image: -o-linear-gradient(top, #DDDDDD 0%, #A9D0F5 100%);
	background-image: -moz-linear-gradient(top, #DDDDDD 0%, #A9D0F5 100%);
	background-image: -webkit-linear-gradient(top, #DDDDDD 0%, #A9D0F5 100%);
	background-image: -ms-linear-gradient(top, #DDDDDD 0%, #A9D0F5 100%);
	
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #DDDDDD),
		color-stop(1, #A9D0F5)
	);
}

.gradient_faded_column_student {
	background-image: linear-gradient(top, #A9D0F5 0%, #DDDDDD 100%);
	background-image: -o-linear-gradient(top, #A9D0F5 0%, #DDDDDD 100%);
	background-image: -moz-linear-gradient(top, #A9D0F5 0%, #DDDDDD 100%);
	background-image: -webkit-linear-gradient(top, #A9D0F5 0%, #DDDDDD 100%);
	background-image: -ms-linear-gradient(top, #A9D0F5 0%, #DDDDDD 100%);
	
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #A9D0F5),
		color-stop(1, #DDDDDD)
	);
}