html, body {
	margin: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
	overflow-y: hidden;
}
#col1 {
	position: fixed;
	width: 400px;
	box-shadow: 10px 50px 50px #888;
}
#col2 {
	left: 400px;
	right: 0;
}
.column {
	position: absolute;
	display: inline-block;
	vertical-align: top;
	height: 100%;
}
.column>.content{
	overflow-y: scroll;
	overflow-x: hidden;
}
#col2>.content {
	margin-top: 40px;
	padding-bottom: 40px;
}
.column>.title {
	background: rgb(111,140,191); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(111,140,191,1) 0%, rgba(71,98,145,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(111,140,191,1)), color-stop(100%,rgba(71,98,145,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(111,140,191,1) 0%,rgba(71,98,145,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(111,140,191,1) 0%,rgba(71,98,145,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(111,140,191,1) 0%,rgba(71,98,145,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(111,140,191,1) 0%,rgba(71,98,145,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f8cbf', endColorstr='#476291',GradientType=0 ); /* IE6-9 */
	font-weight: bold;
	text-align: center;
	color: #FFF;
	text-shadow: 2px 2px 5px rgba(0,0,0,0.6); /* 50% black coming from the top */
	-webkit-font-smoothing: antialiased;
	box-shadow: 10px 5px 10px #CCC !important;
	z-index: 1;
}
#col2>.title {
	position: fixed;
	right: 0;
	width: calc(100% - 400px);
}
.list-item {
	width: 98%;
	padding: 10px;
	box-shadow: 0px 5px 10px #CCC;
}
.list-item>.title {
	font-weight: bold;
}
.lecture, #add {
	display: inline-block;
	vertical-align: top;
	margin-top: 40px;
	margin-left: 40px;
	border: 2px solid #CCC;
	box-shadow: 5px 5px 5px #DDD;
	height: 200px;
	width: 200px;
}
.lecture>div {
	padding: 5px;
}
.lecture>.title, .lecture>.name {
	color: #FFF;
	font-weight: bold;
	text-align: center;
	background-color: #6377A8;
}
.list-item>.summary, .list-item>.description {
	font-size: 12px;
}
.list-item.selected {
	color: #FFF;
	background-color: #6377A8;
}
#col1>.content>.list-item:not(.title) {
	cursor: pointer;
}
#col1>.content>.list-item:not(.title):hover {
	cursor: pointer;
	text-decoration: underline;
}
#placeholder {
margin: auto; width: 100%; height: 20px; text-align: center; position: absolute; top: 50px; bottom: 0; font-size: 24px; font-weight: bold; text-shadow: 1px 1px 1px #CCC;

}
#add{
	color: #FFF;
	display: inline;
	background-color: #6377A8;
	font-size: 200px;
	cursor: pointer;
	outline: none;
}
#add>.content {
	position: absolute;
	top: 40px;
	left: 77px;
}
