.waitingBox {
	margin-left:auto;
	margin-right:auto;
	width:90%;
}

.waitingIcon {
	display:block;
    margin : auto;
}

.outerWaitingIcon {
	position:relative;
}

.waitingIconText {
	text-align:center;
}