<html>
<head>
    <template id="multi-choice">
        <style>
            @import "/src/utilities/templates/multiChoice/multiChoice.css";
        </style>
        <div id="correct">Correct?</div><br/>
        <div id="answer-choices">
            <div class="answer-choice">
                <input id="1" type="radio" name="answer" disabled />
                <label for="1">AAAAAAAA</label>
                <span class="correct">✔</span>
                <span class="close">×</span>
            </div>
            <div class="answer-choice">
                <input id="2"type="radio" name="answer" disabled />
                <label for="2">BBBBBBB</label>
                <span class="correct"></span>
                <span class="close">×</span>
            </div>
            <div class="answer-choice">
                <input id="3" type="radio" name="answer" disabled />
                <label for="3">CCCCCCCC</label>
                <span class="correct"></span>
                <span class="close">×</span>
            </div>
        </div>
        <div id="add">+ Add an answer</div>
    </template>
</head>
</html>
