:host {
    position:relative;
}

#outline {
    z-index: 0;
    padding: 2px;
}

#outer {
    display:flex;
    flex-direction: column;
    position:relative;
    padding: 10px 10px 10px 10px;
    background-color: #FFF;
    z-index: 0;
}

.buttons {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 10%;
}

#correct, #wrong {
    display: block;
}


.header {
    display:block;
    /*margin-bottom: 4px;*/
    z-index: 1;
}


input[type='number'] {
    /*height:calc(100% / 3);*/
    width:4ch;
}

.one-to-one {
	position: relative;
}

.one-to-one > * {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.one-to-one:before {
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}

.sketch {
}

#gradeInput {
    width: 6ch;
}
#comment {
    width: calc(100% - 8ch);
}
sketch-surface {
    background:#FFFFFF;
}

/*these classes are for changing the background color of the div tag outer*/

#outer.outerCorrect {
    background-color: #66bb6a;
}

#outer.outerWrong {
    background-color: #ef5350;
}

input[type='number']:not(:valid) {
    background: #ef5350;;
}

#comment:focus, #gradeInput:focus {
    border-bottom: 1px solid #e0f7fa;
    box-shadow: 0 1px 0 0 #e0f7fa;
}

#comment, #gradeInput {
    border-bottom: 1px solid #000;
}
