#outer {
    position:relative;
    width: 30%;
    height: 35%;
    padding: 10px 10px 10px 10px;
    background-color: #B8B8B8;
}

.inner {
    width: 100%;
    height: 100%;
}

.buttons {
    background-color: #B8B8B8;
    float:right;
    width: 15%;
    height: 100%
}
button, input[type='number'] {
    height:calc(100% / 3);
    width:100%;
}

.correctButton {
     background: url("/images/MultiView/correctbtn.svg");
     background-repeat: no-repeat;
     background-position: center;

}

.wrongButton {
     background: url("/images/MultiView/wrongbtn.svg");
     background-repeat: no-repeat;
     background-position: center;
}

/*.redoButton {
     background: url("/images/MultiView/redobtn.svg");
     background-repeat: no-repeat;
     background-position: center;
}*/

sketch-surface {
    float:left;
    height:100%;
    width:85%;
    background:#FFFFFF;
}

/*these classes are for cahnging the background color of the div tag outer*/

#outer.outerCorrect {
    background-color: #00FF00;
}

#outer.outerWrong {
    background-color: #FF0000;
}

:host * {
    overflow:visible;
}

* {
    overflow:visible;
}

/* sets the font size to make it pretty large */
input[type='number'] {
    font-size: 1.3em;
    overflow:visible;
}

/* sets the font size to make it pretty large */
input[type='number'] /deep/ div {
    position:relative;
    overflow:visible;
}

/* sets the font size to make it pretty large */
input[type='number']:not(:valid) {
    background:red;
}

/* this makes the spinner in chrome not overlap with the number */
input[type='number']:not(:hover) /deep/ #spin {
    -webkit-appearance: none;
    background: #000;
}

input[type='number'].percent /deep/ #inner-editor {
    width: 10px;
}

/* makes percent stuff */
input[type='number'].percent /deep/ #inner-editor:after {
    display:inline-block;
    content: "PLEASE SHOW ME!";
    color:black;
    font-size: 2em;
    z-index:3;
}
