<html>
<head>
<meta charset="utf-8">
<title>Question Test</title>
<!-- test Library -->
<link rel="import" href="/test/testUtilities/testUtilities.html">

<!-- files needed for testing -->
<link id="questionTemplateImport" rel="import" href="/src/utilities/templates/question/questionInclude.html">

<!-- file being tested. -->
<script src="/src/utilities/templates/question/question.js" data-cover></script>
</head>
<body>
	<div id="qunit"></div>
	<div id="qunit-fixture"></div>
    <div id="question"></div>
    
	<script>
        var template = (function() {
            var link1 = document.querySelector('#questionTemplateImport');
            var link = link1.import.querySelector('#questionTemplateImport');
            var template = link.import.querySelector('#question');
            var clone = document.importNode(template.content, true);
            return clone;
        })();

        QUnit.module("creation", {
            setupOnce : function() {
                try {
                    var newElement = new Question();

                    /**
                     * Creates the shadow root and adds that into the system.
                     */
                    newElement.attachedCallback = function() {
                        this.initializeElement(template.cloneNode(true));
                    };

                    // test is not a typo
                    document.registerElement('question-test', {
                        prototype : newElement
                    });
                } catch (exception) {
                }

            },
            teardown : function() {
                document.getElementById('question').innerHTML = "";
            }
        });

        test("create question element", function(assert) {
            expect(1);
            var question = document.createElement("question-test");
            document.querySelector("#question").appendChild(question);
            assert.ok(question.shadowRoot.innerHTML != null && question.shadowRoot.innerHTML != "", "Question element has content.");
        });

        test("save question element", function(assert) {
            expect(2);
            var question = document.createElement("question-test");
            document.querySelector("#question").appendChild(question);
            question.setFinishedListener(function(command) {
                assert.equal(command.getCommandType(), CourseSketch.PROTOBUF_UTIL.CommandType.CREATE_QUESTION,
                        'Expecting command type CREATE_QUESTION from commands.proto');
                assert.equal(command.getIsUserCreated(), true, 'Expecting command to be user created');
                var decoded = CourseSketch.PROTOBUF_UTIL.decodeProtobuf(command.getCommandData(),
                        CourseSketch.PROTOBUF_UTIL.getQuestionClass());
            });
            question.saveData();
        });

        test("load question element", function(assert) {
            expect(0);
            var question = document.createElement("question-test");
            document.querySelector("#question").appendChild(question);
            var questionProto = CourseSketch.PROTOBUF_UTIL.Question();
            questionProto.setQuestionText("How awesome are CourseSketch Lectures?");
            question.loadData(questionProto);
            question.loadData();
        });
    </script>
</body>
