a {
    text-decoration: none;
    color: rgb(42,117,169);
}

a:hover {
    color: rgb(60,101,134);
}

h1 {
    color: #A9D0F5;
    font-size: large !important;
}

h2 {
    font-family: 'Baskerville Old Face';
}

h3 {
    color: rgb(248,248,248)  ;
}

h3{
    margin:0;
    font-size:20px;
}

.myButton2 {
	/**
	placement
	*/
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;

	/*
	shadow
	*/
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	
	/*
	text
	*/
	font-family: Helvetica,Arial,sans-serif;
	font-weight: bold;
	font-size:100%;
	/**
	State specific.
	*/
	border: 1px solid #CCC;
	background: #EEE;
	font-weight: bold;
	color: #444;
	text-shadow: 0 1px 1px #F6F6F6;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#FDFDFD),to(#EEE));
	background-image: -webkit-linear-gradient(top,#FDFDFD,#EEE);
	background-image: -moz-linear-gradient(top,#fdfdfd,#eee);
	background-image: -ms-linear-gradient(top,#fdfdfd,#eee);
	background-image: -o-linear-gradient(top,#fdfdfd,#eee);
	background-image: linear-gradient(top,#fdfdfd,#eee);
}

.myButton2:hover {
	border: 1px solid #BBB;
	background: #DADADA;
	font-weight: bold;
	color: #101010;
	text-shadow: 0 1px 1px #FFF;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#EDEDED),to(#DADADA));
	background-image: -webkit-linear-gradient(top,#EDEDED,#DADADA);
	background-image: -moz-linear-gradient(top,#ededed,#dadada);
	background-image: -ms-linear-gradient(top,#ededed,#dadada);
	background-image: -o-linear-gradient(top,#ededed,#dadada);
	background-image: linear-gradient(top,#ededed,#dadada);
}

.myButton2:active {
	border: 1px solid #808080;
	background: #FDFDFD;
	font-weight: bold;
	color: #111;
	text-shadow: 0 1px 1px #FFF;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#EEE),to(#FDFDFD));
	background-image: -webkit-linear-gradient(top,#EEE,#FDFDFD);
	background-image: -moz-linear-gradient(top,#eee,#fdfdfd);
	background-image: -ms-linear-gradient(top,#eee,#fdfdfd);
	background-image: -o-linear-gradient(top,#eee,#fdfdfd);
	background-image: linear-gradient(top,#eee,#fdfdfd);
}

.rounded_shadow {
	
	/*
	add shadow
	*/
	-moz-box-shadow: 0 0 12px #a9D0f5;
	-webkit-box-shadow: 0 0 12px #A9D0F5;
	box-shadow: 0 0 12px #A9D0F5;
	
	/*
	round it out
	*/
	-webkit-border-radius: .6em;
	border-radius: .6em;
}

input, select {
	background-image: none;
	padding: .4em 1.5%;
	line-height: 1.4;
	font-size: 16px;
	display: block;
	width: 97%;
	
	
	/*
	clip the background
	*/
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

input.notEditing {
	/*
	background
	*/
	border: 1px solid #B3B3B3;
	background: #F0F0F0;
}

input.editing {
	/*
	background
	*/
	border: 1px solid #B3B3B3;
	background: #FFFFFF;
}