#menu {
	/* removed height: 100% property */
	width: 200px;
	min-height: 100%;
	display: block !important;
	float: left;
	background-color: #5a5959;
}

#menu h1 {
	font-family: arial;
	font-size: 20px;
	color: rgb(126, 181, 214);
	margin: 0;
	background-color: #5a5959;
	padding: 4px 0 4px 10px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, rgba(90,
		89, 89, 1)), color-stop(85%, rgba(66, 65, 65, 1)));
	border-top: solid #6b6b6b 1px;
	border-bottom: solid #3d3d3d 1px;
	text-shadow: 0px -1px 1px #333;
}

#menu h3 {
	font-family: arial;
	font-size: 14px;
	color: rgb(126, 181, 214);
	margin: 0;
	background-color: #5a5959;
	padding: 4px 0 4px 10px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, rgba(90,
		89, 89, 1)), color-stop(85%, rgba(66, 65, 65, 1)));
	border-top: solid #6b6b6b 1px;
	border-bottom: solid #3d3d3d 1px;
	text-shadow: 0px -1px 1px #333;
	font-style: italic;
	text-decoration: underline;
}

#menu ul {
	margin: 0;
	padding: 0;
	width: inherit;
}

#menu ul li {
	list-style-type: none;
	margin: 0px 0;
	background-color: #5a5959;
	box-shadow: 0 1px 0 #727272;
	cursor:pointer;
	border-bottom: solid #333 1px;
}

#menu ul li.header {
	list-style-type: none;
	margin: 0px 0;
	background-color: #5a5959;
	border-bottom:none;
	box-shadow:none;
	cursor:default;
}

#menu ul li:hover,#menu ul li:active {
	background-color: #716f6f;
}


#menu ul li a:link,#menu ul li a:visited {
	color: white;
	font-size: 14px;
	font-family: arial;
	text-decoration: none;
	width: 156px;
	display: block;
	padding: 10px 0px 10px 10px;
	text-shadow: 0px 1px 1px #000000;
}

#menu ul li.inner_list, #menu ul li.inner_list:hover,#menu ul li.inner_list:active  {
	border-bottom:none;
	cursor:default;
}

.inner_menu_list ul {
	position: relative;
	left: 10%;
}
.expandable_button img {
	float : left;
	padding: 10px 10px 10px 5px;
}

.inner_menu_list {
	border-bottom: solid #333 1px;

	background-image: linear-gradient(left , rgb(61,61,61) 0%, rgb(90,89,89) 10%);
	background-image: -o-linear-gradient(left , rgb(61,61,61) 0%, rgb(90,89,89) 10%);
	background-image: -moz-linear-gradient(left , rgb(61,61,61) 0%, rgb(90,89,89) 10%);
	background-image: -webkit-linear-gradient(left , rgb(61,61,61) 0%, rgb(90,89,89) 10%);
	background-image: -ms-linear-gradient(left , rgb(61,61,61) 0%, rgb(90,89,89) 10%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		right bottom,
		color-stop(0, rgb(61,61,61)),
		color-stop(0.1, rgb(90,89,89))
	);
	cursor:default;
}

/**
	This hides the shadow and border so that tabbed list look nice.
*/
#menu ul li.inner_list .inner_menu_list ul li:last-child {
	box-shadow:none;
	border-bottom:none;
}