school-item {
    width: 48%;
    margin-left: 1%;
    cursor: pointer;
}

#selectionContent {
    padding: 5px;
    scroll-y: auto;

}

.inner-dialog {
    border: 2px solid black;
    outline: 5px solid rgba(0, 0, 0, 0); /* invisible border */
    background: #FFFFFF;
    padding: 5px;
}

.outer-dialog {
    position: absolute;
    margin: auto;
    left: 5%;
    right: 5%;
    top: 5%;
    bottom: 5%;
}

:host {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(125, 125, 125, 0.5);
}
