<html>
<head>
    <template id="exceptionNotification">
        <style>
            @import "/bower_components/materialize/bin/materialize.css";
        </style>
        <dialog id="notificationInformation" class="modal modal-fixed-footer" open>
            <!--<button id="closeButton">X</button>-->
            <div class="modal-content">
                <content select=".header">
                    <content select=".exceptionTitle"></content>
                    <content select=".exceptionMessage"></content>
                </content>
                <content select=".stacktrace"></content>
                <content select=".cause"></content>
            </div>
            <div class="modal-footer">
                <a id="closeButton" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </dialog>
        <!--
        <div id="notificationInformation" class="modal">
            <div class="modal-content">
                <content select=".header">
                    <content select=".exceptionTitle"></content>
                    <content select=".exceptionMessage"></content>
                </content>
                <content select=".stacktrace"></content>
                <content select=".cause"></content>
            </div>
            <div class="modal-footer">
                <a href="#!" class=" modal-action modal-close waves-effect waves-red btn-flat">Close</a>
            </div>
        </div>
        -->
    </template>
</head>
</html>
