:host {
    top: 0px;
    left: 0px;
    margin: 0px;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 300px;
    background: #eee;
    box-shadow: 0px 1px 1px #808080;
    max-height: initial;
    border-width: thin;
}

h4 {
    display: inline;
}

h3 {
    text-align: center;
}

span {
    padding-top: 2px;
    padding-bottom: 2px;
}

div.latePolicy {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.closeButton {
    position:absolute;
    top:0;
    right:0;
}
