<html>
<head>
</head>
<body>
	<template id="schoolItemTemplate">
	<style>
		@import "/src/utilities/templates/schoolItem/schoolItem.css";
		@import "/bower_components/materialize/dist/css/materialize.css";
	</style>
	<span class="schoolItemState"><content select="span.grade"></content></span>
	<img class=".image">
	<div class="school_item card-content">
		<div class="text">
			<div class="title card-title">
				<h5 class="name truncate ">
					<content select=".name"></content>
				</h5>
			</div>
			<div class="date">
				<div class="accessDate">
					<content select=".accessDate"></content>
				</div>
				<div class="dueDate">
					<content select=".dueDate"></content>
				</div>
				<div class="closeDate">
					<content select=".closeDate"></content>
				</div>
			</div>
			<span class="description">
				<p class="contentHolder">
					<content select="div.description"></content>
				</p>
				<p class="expand"></p>
			</span>
		</div>
	</div>
	</template>
</body>
</html>
