<html>
<head>
</head>
<body>
	<template id="schoolItemTemplate">
	<style>
	@import "/src/utilities/templates/schoolItem/schoolItem.css";
	</style>
	<img class=".image">
	<div class="school_item">
		<span class="school_item_state"></span>
		<div class="text">
			<div class="title">
				<h3 class="name">
					<content select=".name"></content>
					<span class="editButton">&nbsp;&nbsp;&nbsp;&nbsp;</span>
				</h3>
			</div>
			<span class="date">
				<h4 class="closeDate">
					Close Date:
					<content select=".closeDate"></content>
					<span class="editButton">&nbsp;&nbsp;&nbsp;&nbsp;</span>
				</h4>
				<h4 class="dueDate">
					Due Date:
					<content select=".duteDate"></content>
					<span class="editButton">&nbsp;&nbsp;&nbsp;&nbsp;</span>
				</h4>
				<h4 class="accessDate">
					Access Date:
					<content select=".accessDate"></content>
					<span class="editButton">&nbsp;&nbsp;&nbsp;&nbsp;</span>
				</h4>
			</span>
			<div class="description">
				<p class="contentHolder">
					<content select="div.description"></content>
					<span class="editButton">&nbsp;&nbsp;&nbsp;&nbsp;</span>
				</p>
				<p class="expand"></p>
			</div>
		</div>
	</div>
	</template>
</body>
</html>