<html>
<head>
</head>
<body>
	<template id="schoolItemTemplate">
	<style>
	@import "/src/utilities/templates/schoolItem/schoolItem.css";
	</style>
	<span class="schoolItemState"><content select="span.grade"></content></span>
	<img class=".image">
	<div class="school_item">
		<div class="text">
			<div class="title">
				<h3 class="name">
					<content select=".name"></content>
					<span class="editButton" data-type="name">&nbsp;&nbsp;&nbsp;&nbsp;</span>
				</h3>
			</div>
			<span class="date">
				<h4 class="accessDate">
					<content select=".accessDate"></content>
					<span class="editButton" data-type="accessDate">&nbsp;&nbsp;&nbsp;&nbsp;</span>
				</h4>
				<h4 class="dueDate">
					<content select=".dueDate"></content>
					<span class="editButton" data-type="dueDate">&nbsp;&nbsp;&nbsp;&nbsp;</span>
				</h4>
				<h4 class="closeDate">
					<content select=".closeDate"></content>
					<span class="editButton" data-type="closeDate">&nbsp;&nbsp;&nbsp;&nbsp;</span>
				</h4>
			</span>
			<div class="description">
				<p class="contentHolder">
					<content select="div.description"></content>
					<span class="editButton" data-type="description">&nbsp;&nbsp;&nbsp;&nbsp;</span>
				</p>
				<p class="expand"></p>
			</div>
		</div>
	</div>
    <span class="editButton advanceButton" data-type="advanceEdit">&nbsp;&nbsp;&nbsp;&nbsp;</span>
	</template>
</body>
</html>
