.scrollColumn {
    max-height: calc(100vh - 4em);
    overflow-y:hidden;
}

.school_div {
    max-height: 100vh;
    width: calc(100% - 2px);
    overflow-y: scroll;
    overflow-wrap: break-word;
    flex: 1 1 auto;
    background: #e3f2fd;
    padding-top: 15px;
}

.school_div::-webkit-scrollbar { width: 0 !important }
.school_div { -ms-overflow-style: none; }
.school_div { overflow: -moz-scrollbars-none; }