.card {
    height: 100%;
}

ul.collapsible li {
    box-sizing: content-box;
}

div.collapsible-body {
    display: inherit;
    padding: 1rem;
    border-bottom: none;
}

*[data-prop] {
    display: none;
}

*[data-hidden] {
    display: none;
}

*[data-list] {
    display: flex;
    overflow-x: scroll;
}

*[data-list-item] {
    flex-direction: row;
    flex: 0 0 auto;
}