
.container{
	position:relative;
	width: 25%;
	height: 10%;
	background-color: #FFFFFF;
}

.outer{
	width: 95%;
	height: 95%;
	background-color: #B8B8B8;
}

.inner{
	width: 100%;
	height: 100%;
}

.buttons{
	width: 15%;
	height: 100%
}
button{
	height:30%;
	width:90%;
}
sketch-surface{
	height:90%;
	max-width:50%;
}

/*these classes are for cahnging the background color of the div tag outer*/

.outercorrect{
	width: 95%;
	height: 95%;
	background-color: #00FF00;
}

.outerwrong{
	width: 95%;
	height: 95%;
	background-color: #FF0000;
}

.outerredo{
	width: 95%;
	height: 95%;
	background-color: #FFFF00;
}