#outer {
    position:relative;
	width: 40%;
	height: 35%;
	padding: 10px 10px 10px 10px;
	background-color: #B8B8B8;
}

.inner{
	width: 100%;
	height: 100%;
}

.buttons{
float:right;
	width: 20%;
	height: 100%
}
button{
	height:calc(100% / 3);
	width:100%;
}

.correctButton {
    background: url("/images/MultiView/correctbtn.svg");
     background-repeat: no-repeat;
     background-position: center;

}

.wrongButton {
    background: url("/images/MultiView/wrongbtn.svg");
     background-repeat: no-repeat;
     background-position: center;
}

.redoButton {
    background: url("/images/MultiView/redobtn.svg");
     background-repeat: no-repeat;
     background-position: center;
}

sketch-surface{
    float:left;
	height:100%;
	width:80%;
	background:#FFFFFF;
}

/*these classes are for cahnging the background color of the div tag outer*/

#outer.outerCorrect{
	background-color: #00FF00;
}

#outer.outerWrong{
	background-color: #FF0000;
}

