/* center it on the right side */
:host {
    position:relative;
    height:100%;
    width:100%;
}

#toolbar::content problem-tool-bar {
    margin: auto;
    position: absolute;
    top: -35px;
    right: 100px;
    z-index: 2;
}

#question-panel {

}

#sub-panel {
    height: 100%;
    width: 100%;
}

#sub-panel::content sketch-surface {
    display: flex;
}

#sub-panel::content textarea {
    font-size: 36;
    font-weight: 300;
    display:flex;
    justify-content:center;
    width:50%;
    padding:10px;
    height:calc(100% - 40px);
    border:0px;
    resize:none;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    margin-top:10px;

}

