/* center it on the right side */
:host {
    position:relative;
}

#toolbar::content problem-tool-bar {
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 2;
}

#sub-panel {
    height: 100%;
    width:100%;
}
