.tab {
            display:inline-block;
            
            /**css border generator */
            -webkit-border-top-left-radius: 10px;
            -webkit-border-top-right-radius: 10px;
            -moz-border-radius-topleft: 10px;
            -moz-border-radius-topright: 10px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            
            /** shadow generator */
            -webkit-box-shadow: 4px -2px 4px 0px rgba(50, 50, 50, 0.75);
            -moz-box-shadow:    4px -2px 4px 0px rgba(50, 50, 50, 0.75);
            box-shadow:         4px -2px 4px 0px rgba(50, 50, 50, 0.75);
            
            margin-left: 10px;
            margin-bottom:0px;
            
            cursor:pointer;
        }
    
        .tab:hover {
            background-color:#DDDDDD;
        }
    
        .leftside {
            margin-bottom:10px;
            display:block;
            /** css border generator */
            -webkit-border-radius: 0px;
            -webkit-border-top-left-radius: 10px;
            -webkit-border-bottom-left-radius: 10px;
            -moz-border-radius: 0px;
            -moz-border-radius-topleft: 10px;
            -moz-border-radius-bottomleft: 10px;
            border-radius: 0px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            
        }
    
        table,th,td
        {
            border:1px solid black;
        }