<html>
    <head>
    <meta charset="utf-8">
    <title>Creating a Custom HTML5 Audio and Video Element UI with
    MediaElement.js</title>
    <template id="voice-playback-template">
        <style>
            @import "/src/utilities/templates/voicePlayback/voicePlayback.css";
        </style>

        <table id = "button-bar">
            <tr><td style="width:5%"><input type="button" value=" " id="recordBtn" /></td>
                <td style="width:5%"><button type="submit" id = "speedup-btn" ></button></td>
                <td style="width:5%"><button type="submit" id = "slowdown-btn" ></button></td>
                <td><div class="audio-player">
                    <p>TESTTESTTEST</p>
                    <audio id="myaudio" type='audio/mpeg' controls="controls"></audio>
                    </div></td>
                <td style="width:5%"><button type="submit" id = "setting-btn" ></button></td></tr>
        </table>
        <p>Playback position: <span id="demo"></span></p>


        <!--button type="submit" id = "redo-btn" ></button>
        <button type="submit" id = "undo-btn" ></button>
        <button type="submit" id = "play-btn" ></button>
        <button type="submit" id = "pause-btn" ></button>
        <button type="submit" id = "speedup-btn" ></button>
        <button type="submit" id = "slowdown-btn" ></button-->

    </template>
</head>
</html>