<html>
<head>

    <template id="voice-playback-template">
        <style>
            @import "/src/utilities/templates/voicePlayback/voicePlayback.css";
        </style>
        <table id = "button-bar">
            <tr><td style="width:5%"><button type="submit" id = "play-btn" ></button>
                                     <button type="submit" id = "pause-btn" ></button></td>
                <td style="width:5%"><button type="submit" id = "speedup-btn" ></button></td>
                <td style="width:5%"><button type="submit" id = "slowdown-btn" ></button></td>
                <td></td>
                <td style="width:5%"><button type="submit" id = "setting-btn" ></button></td></tr>
        </table>
        <!--button type="submit" id = "redo-btn" ></button>
        <button type="submit" id = "undo-btn" ></button>
        <button type="submit" id = "play-btn" ></button>
        <button type="submit" id = "pause-btn" ></button>
        <button type="submit" id = "speedup-btn" ></button>
        <button type="submit" id = "slowdown-btn" ></button-->

    </template>
</head>
</html>