<html>
<head>

    <template id="voice-playback-template">
        <style>
            @import "/src/utilities/templates/voicePlayback/voicePlayback.css";
        </style>
        <button type="submit" id = "redo-btn" ></button>
        <button type="submit" id = "undo-btn" ></button>
        <button type="submit" id = "play-btn" ></button>
        <button type="submit" id = "pause-btn" ></button>
        <button type="submit" id = "speedup-btn" ></button>
        <button type="submit" id = "slowdown-btn" ></button>

    </template>
</head>
</html>